{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">
                Django App
            </h1>
            <p>
                Aplicacion desarrollada en Django para registrar usuarios y tareas.
            </p>

            <div class="text-center">
                <a class="btn btn-secondary" href="{% url 'signin' %}">
                    Signin
                </a>
                <a class="btn btn-primary" href="{% url 'signup' %}">
                    Signup
                </a>
            </div>

        </section>
    </main>

{% endblock %}