{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center display-3 py-5">Tareas Pendientes</h1>
                <ul class="list-group">
                    {% for tarea_elemento in tasks %}
                        <a class="list-group-item" href="{% url 'task_detail' tarea_elemento.id %}">
                            <header class="d-flex justify-content-between">
                                {% if tarea_elemento.important %}
                                    <h1 class="fw-bold text-success">{{ tarea_elemento.title }}</h1>
                                {% else %}
                                    <h1 class="fw-bold">{{ tarea_elemento.title }}</h1>
                                {% endif %}
                                <p>{{ tarea_elemento.user.username }}</p>
                            </header>

                            <p>{{ tarea_elemento.description }}</p>
                            <p>{{ tarea_elemento.datecompleted|date:'M j Y:i' }}</p>

                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>

{% endblock %}